<a href="https://colab.research.google.com/github/chiangtinhung-rgb/Matcha/blob/main/%E7%A8%8B%E5%BC%8F%E8%AA%9E%E8%A8%80HW1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***日常支出速算與分攤（作業一）***

目標：從 Sheet 讀「消費紀錄」→ 計總額/分類小計/AA 分攤 → 寫回 Sheet Summary 分頁。

AI 點子（可選）：請模型總結本週花錢習慣與建議（例如「外食過多」）。

Sheet 欄位：date, category, item, amount, payer

GoogleSheet: https://docs.google.com/spreadsheets/d/1o4BY-VlRvKt0VFxY0pLuPaQKsLoRki8W9fDMaYgxGbI/edit?gid=0#gid=0

In [61]:
from google.colab import auth
auth.authenticate_user()
import gspread
from google.auth import default
import datetime
from types import new_class
creds, _ = default()
gc = gspread.authorize(creds)

In [62]:
import pandas as pd
gsheets = gc.open_by_url('https://docs.google.com/spreadsheets/d/1o4BY-VlRvKt0VFxY0pLuPaQKsLoRki8W9fDMaYgxGbI/edit?gid=0#gid=0')

In [60]:
# 讓使用者輸入資料
date_str = input("請輸入日期 (格式：YYYY-MM-DD): ")
# 檢查日期格式是否正確
datetime.datetime.strptime(date_str, '%Y-%m-%d')

time_str = input("請輸入時間 (格式：HH:MM): ")
# 檢查時間格式是否正確
datetime.datetime.strptime(time_str, '%H:%M')

item = input("請輸入品項:")
amount = input("請輸入數量:")
category = input("請輸入類別 (例如：早餐/午餐/晚餐):")
money = float(input("請輸入金額:"))
pay_way = input("請輸入支付方式:")
payer_name = input("請輸入付款人名字: ")
location = input("請輸入購買地點: ")
notes = input("請輸入備註/交易描述 (例如：朋友生日禮物、團購運費): ")

請輸入日期 (格式：YYYY-MM-DD): 2025-09-29
請輸入時間 (格式：HH:MM): 10:30
請輸入品項:三明治
請輸入數量:2
請輸入類別 (例如：早餐/午餐/晚餐):早餐
請輸入金額:70
請輸入支付方式:現金
請輸入付款人名字: 抹茶
請輸入購買地點: 美而美早餐店
請輸入備註/交易描述 (例如：朋友生日禮物、團購運費): 無

In [63]:
# 從 gsheets 的 All-whiteboard-device 載入 sheets
sheets = gsheets.worksheet('工作表1').get_all_values()
# 將 sheets1 資料載入 pd 的 DataFrame 進行分析
df = pd.DataFrame(sheets[1:], columns=sheets[0])
# 取得最前面的5筆資料
df.head()

           日期     時間   品項  數量 類別  金額 支付方式 付款人      地點 備註
0  2025-09-29  10:30  三明治  70  2  早餐   現金  抹茶  美而美早餐店  無

In [64]:
print(date_str, time_str, item, amount, category, money, pay_way, payer_name, location, notes)

2025-09-29 10:30 三明治 2 早餐 70.0 現金 抹茶 美而美早餐店 無

In [65]:
date_str

'2025-09-29'

In [66]:
time_str

'10:30'

In [67]:
item

'三明治'

In [68]:
amount

'2'

In [69]:
category

'早餐'

In [70]:
money

70.0

In [71]:
pay_way

'現金'

In [72]:
payer_name

'抹茶'

In [73]:
location

'美而美早餐店'

In [74]:
notes

'無'

In [78]:
df = df.iloc[0:0]
data = pd.DataFrame([{
    '日期': date_str,
    '時間': time_str,
    '品項': item,
    '數量': amount,
    '金額': money,
    '類別': category,
    '支付方式': pay_way,
    '付款人': payer_name,
    '地點': location,
    '備註': notes
}])

df = pd.concat([df, data], ignore_index=True)

/tmp/ipython-input-1447839775.py:15: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, data], ignore_index=True)

In [81]:
df

           日期     時間   品項 數量  類別    金額 支付方式 付款人      地點 備註
0  2025-09-29  10:30  三明治  2  早餐  70.0   現金  抹茶  美而美早餐店  無

In [82]:
# 將 DataFrame 轉換成列表的列表 (list of lists)，這是 gspread 支援的資料格式
data_to_write = df.values.tolist()

# 第一步：取得工作表物件
worksheet = gsheets.worksheet('工作表1')

# 第二步：將資料寫入工作表
worksheet.append_rows(values=data_to_write, value_input_option='USER_ENTERED')
print("資料已成功寫入 Google 工作表！")

資料已成功寫入 Google 工作表！